/*
Theme Name: 	Copious
Theme URI: 		http://evanpayne.com/copious
Description: 	Portfolio & Content Curation
Version: 		1.3
Author: 		Evan Payne
Author URI: 	http://evanpayne.com
*/

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Media queries 
===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

@import "css/reset.css";

div,
article,
section,
header,
footer,
nav,
li					{ position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body 				{ background:#212020; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection 	{ background:#e2e2e2; color:#333; }
::selection 		{ background:#e2e2e2; color:#333; }
header { 
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
	background: url(img/light-bg.jpg) repeat-y center top;
	border-bottom: 1px solid #000000;
}
.main-content {
	margin:0 auto;
	padding: 20px;
	text-align: center;
}
.object-container {
	background: url(img/light-bg.jpg) repeat-y center top;
}

/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/
@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('css/fonts/YanoneKaffeesatz-Regular-webfont.eot');
    src: url('css/fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
         url('css/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
         url('css/fonts/YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,
input,
textarea 			{ /* We strongly recommend you declare font-weight using numerical values, but check to see which weights you're exporting first */ }

h1, 
h2, 
h3, 
h4, 
h5, 
h6 					{ font-family: 'YanoneKaffeesatzRegular', Arial, sans-serif; /* This helps to identify headings at the initial build stage, but you should write something more precise later on */ }

h1 {
	font-size: 4em;
	text-transform: uppercase;
}
h1 a {
	color: #c7b888;
	text-decoration: none;
}
h1 a span {
	color: #fff;
}
header p {
	color:#e2e2e2;
	font-size:1.5em;
	text-transform: lowercase;
}

/* ---------------------------------------------------------------------------------------------------------- 
03 Media queries (using a mobile-first approach) ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* 400 and up */
@media screen and (min-width:400px) {

					{ /* Place your styles here for all widths greater than 400px */ }
	.main-content {
		text-align: left;
		background: url(img/light-bg.jpg) repeat-y left top;
	}

}

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {

					{ /* Place your styles here for all 'Retina' screens */ }

}