.bgindex, .bgwithout, .bglightpattern, .bgdarkpattern {
	z-index: -999;
	}	
.bgindex {
    background: url(../img/bg-19.png) repeat; 	
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	}
.bgwithout {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	}
.bglightpattern {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	}
.bgdarkpattern {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	}
	

/* ============ panel ================ */
#switcher_btn {
	width: 35px;
	height: 33px;
	position: fixed;
	left: 0px;
	top: 100px;
	background: #efefef;
	border: 1px solid #c9c9c9;
	border-radius: 0px 20px 20px 0px;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	display: block;
	z-index:10000;
	cursor: pointer;
}
#switcher_btn img{
	padding: 3px 0 0 3px;
}
#switcher_btn a{
	outline:none;
}
#styleSwitcher {
	font-family: arial;
	position: fixed;
	left: 0px;
	top: 100px;
	padding: 10px;
	width: 200px;
	font-size: 11px;
	z-index:10000;
	background-color: #efefef ;
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	display: none;
}

#styleSwitcher span {
	font-size: 13px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px dashed #ccc;
	margin: 3px 0;
	padding: 0;}
.pattern {
	display: block;
	float:left;
	margin-right:2px;
	margin-left:2px;
	margin-bottom:5px;
	border:1px solid #ccc;
	list-style:none;
	width: 40px;
	height: 25px;
}
.close_btn{
	position: absolute;
	cursor: pointer;
	display: block;
	right: -11px;
	top: -11px;
}
.bg-pattern a, .bg-style a{
	text-decoration: none;
	color: #000;
}
.bgs{line-height: 25px;}
.bgs h6 {
	margin-left: 5px;
	display: inline;
}


.bg{background: url(../img/evan.jpeg) no-repeat center center;}

