/*
 Theme Name:   Fukasawa Child
 Template:     fukasawa
*/


@import url("../fukasawa/style.css");

.blog-description {
	padding-top:24px;
}

.posts .post.format-video {
box-shadow: -6px 8px 11px -8px;
}

.posts .post.format-image {
background: none;
}